body{
  background: rgb(175,175,175);
  color: rgb(200,200,200);

}
.boxtitle{
  font-size: 150%;

}
.box{
  background: rgb(100,100,100);
  padding: 5px;
  display: inline-block;
  margin-top: 10px;
  border-radius: 5px;
}