body{
  background-color: #969696;
  color: #E6E6E6;
}
.header{
  padding: 10px;
  background-color: #FFD764;
  text-shadow: 0 0 5px #FFFFFF;
  display: inline-block;
  font-weight:700;
  font-size:150%;
  color: #FFE682;
}
