body{
  background: rgb(175,175,175);
  color: rgb(200,200,200);
  font-size: 120%;
}
.boxtitle{
  font-size: 150%;

}
.box{
  background: rgb(100,100,100);
  padding: 8px;
  display: inline-block;
  border-radius: 10px;
  margin:5px;
}
